<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
<% if volunteer_signed_in? %>
  <h1>Hey there!</h1>
  <%= link_to "Sign out", destroy_volunteer_session_path, :method => :delete %>
  <%= link_to "New Organisation", new_organisation_path %> 
  <% @organisations.each do |organisation| %> 
    <p class="organisation"><%= link_to organisation.name, organisation%></p>
    <% end %>
                    <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Latest Opps</th>
                                <th>Commitment</th>
                                <th>Time Left</th>
                                <th>Committed Vollies</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1,001</td>
                                <td>Lorem</td>
                                <td>ipsum</td>
                                <td>dolor</td>
                                <td><img src="assets/images/image_u29.png" /></td>
                            </tr>
                            <tr>
                                <td>1,002</td>
                                <td>amet</td>
                                <td>consectetur</td>
                                <td>adipiscing</td>
                                <td><img src="assets/images/image_u29.png" /></td>
                            </tr>
                            <tr>
                                <td>1,003</td>
                                <td>Integer</td>
                                <td>nec</td>
                                <td>odio</td>
                                <td><img src="assets/images/image_u29.png" /></td>
                            </tr>
                            <tr>
                                <td>1,003</td>
                                <td>libero</td>
                                <td>Sed</td>
                                <td>cursus</td>
                                <td><img src="assets/images/image_u29.png" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
<% else %>
  <h1>Communiteer</h1>
  <p>Sign up today!</p>
  <%= link_to "Sign In", new_volunteer_session_path %>
  <%= link_to "Sign Up", new_volunteer_registration_path %>
<% end %>
</body>
</html>